{% extends "blog/base.html" %}

{% block content %}

<style>
  .loginForm {
    margin-left: 450px;
    margin-top: 40px;
  }
</style>

{% if form.errors %}
<p>Neteisingas vartotojo vardas arba slaptažodis. Bandykite dar kartą.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <div class="loginForm">
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>
  <div class="bab">
    <input class="logBtn" type="submit" value="Prisijungti" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <p style="margin-top:15px; font-size:20px"> Naują vartotoją galite susikurti <a href='{% url 'registration_register' %}'>čia</a></p>
</form>
</div>

<script>
$("#id_username").prev("label").text("Vartotojo vardas");
getElementById("id_username").innerHTML = "Vartotojo vardas"
</script>
{% endblock %}
