<footer class="footer-distributed">

    <div class="footer-left">

      <h3>RokoBlogas</h3>

      <p class="footer-links">
        <a href=""{% url 'blog.views.post_list' %}"">Pradžia</a>
        ·
        <a href="{% url 'about' %}">Apie Mane</a>
      </p>

      <p class="footer-company-name">Roko Blogas &copy; 2016</p>

      <div class="footer-icons">
        <a href="https://www.facebook.com/rokas.rokelis.1?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/malukasrokas" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>

    <div class="footer-right">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Vilniaus universitetas, MIF</span> Vilnius, Lithuania</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>8 623 15103</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:malukasrokas@gmail.com">malukasrokas@gmail.com</a></p>
      </div>

    </div>
  </div>
</footer>
