<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ruoka bluogs</a></h1>
        </div>

        <div>
            <p>Patalpints: šindein</p>
            <h2><a href="">Pėrms puosts</a></h2>
            <p>Pusrytem valgiau blynus. Skane bova.</p>
        </div>

        <div>
            <p>Patalpints: ėrgė šindein</p>
            <h2><a href="">Ontros puosts</a></h2>
            <p>Dedele deinuos dali bovau bibliuotekuo</p>
        </div>
    </body>
</html>