.page-header {
    background-color: #006600;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: relative;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 a:hover {
  	color: #72b60f;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #4f7f0a;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 30px;
    top: 40px;
}

.top-menu:hover {
  color: #72b60f;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #2e050a;
}

.welcome {
  color: #ffffff;
  font-size: 20px;
  top: 87px;
  right: 10px;
  position: absolute;
  font-family: 'Arial', cursive;
}

.comment {
  margin: 20px 0px 20px 20px;
}


body {
  background-color: #fff9ef;
}

.about-me{
  display: inline-block;
  top: 0;
}
.about-icons {
  font-size: 25px;
  margin: 10px 0;
}

li {
  margin: 10px 0;
}
